.w-fit-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.pe-2px {
  padding-right: 2px;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg-yellow {
  background-color: #fff13c;
}

.h-20px {
  height: 20px;
}

.w-50px {
  width: 50px;
}

#home .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5fr;
      grid-template-columns: 1fr 1.5fr;
  height: 100%;
}

#home .content .left,
#home .content .right {
  height: 100%;
  padding-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#home .content .left {
  background-color: #0a0a0a;
  padding: 0 calc(1.5rem * 0.5);
}

#home .content .left > div {
  margin-left: 60%;
  padding-top: 100px;
  letter-spacing: 2px;
  white-space: nowrap;
  z-index: 10;
}

#home .content .left > div h2 .intro {
  font-size: 45px;
}

#home .content .left > div h2 .name {
  font-size: 60px;
}

#home .content .left > div .job-desc {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff13c;
  color: #0a0a0a;
  text-transform: uppercase;
  font-weight: bold;
}

#home .content .right {
  background-color: #939393;
}

#about {
  background-color: #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .wrapper {
  --bs-gutter-x: 2rem;
}

#about .wrapper .picture > div {
  position: relative;
  min-height: calc(350px + 50px);
  max-width: calc(350px + 80px);
  margin-left: auto;
  margin-right: auto;
}

#about .wrapper .picture > div .overlay {
  background-color: #333434;
  height: 350px;
  width: 350px;
  position: absolute;
  left: calc(var(--bs-gutter-x) * 0.5);
  top: 0;
}

#about .wrapper .picture > div .wrapper {
  position: absolute;
  bottom: 0;
  right: calc(var(--bs-gutter-x) * 0.5);
  background-color: #504f50;
  width: 350px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about .wrapper .picture > div .wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 400px;
  height: 400px;
}

#about .wrapper .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about .wrapper .desc > div {
  max-width: 500px;
}

#skills {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#skills img {
  width: 50px;
  height: 50px;
}

#skills .content {
  --bs-gutter-y: 30px;
  --bs-gutter-x: 8rem;
}

#skills .content p {
  color: #b4b4b4;
}

#works {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#works img {
  width: 100%;
  -webkit-filter: grayscale(90);
          filter: grayscale(90);
}

#contact {
  background-color: #fff;
}

#contact h2 {
  font-size: calc(1.325rem + 3vw);
  padding-bottom: 2rem;
}

#contact form {
  max-width: 500px;
}

section {
  height: 100vh;
}

section > div {
  width: 100%;
}

.section-header {
  margin-bottom: 50px;
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-header > div {
  text-align: end;
}

.section-header > div h3 {
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.section-header > div p {
  margin-bottom: 0;
  background-color: #fff13c;
  display: inline-block;
  padding-left: 1rem;
  font-weight: 600;
  height: 20px;
}

.profile-picture {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gy-skills {
  --bs-gutter-y: 10rem;
}

.project-slideshow {
  width: 100%;
  max-width: 1100px;
  height: auto;
}

.project-slideshow .swiper-wrapper .swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.bi {
  display: inline-block;
  vertical-align: -0.125em;
  fill: currentcolor;
}

.bi.bi-left {
  margin-right: 0.25rem;
}

.bi.bi-right {
  margin-left: 0.25rem;
}

.navbar {
  --bs-navbar-padding-y: 0;
}

.navbar .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5fr;
      grid-template-columns: 1fr 1.5fr;
  width: 100%;
}

.navbar .wrapper .navbar-brand {
  padding: 13px calc(1.5rem * 0.5);
  text-align: center;
  margin-right: 0;
  background-color: #0a0a0a;
}

.navbar .wrapper .navbar-brand a {
  color: inherit;
  text-decoration: none;
}

.navbar .wrapper .navbar-collapse {
  background-color: #939393;
}

.navbar .wrapper .navbar-collapse .navbar-nav .nav-link {
  color: #fff;
  padding: 0 !important;
  margin: 0 1.3rem;
}

.navbar .wrapper .navbar-collapse .navbar-nav .nav-link::after {
  content: " ";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2px;
  width: 0;
  background-color: #fff13c;
  -webkit-transition: width 0.4s linear;
  transition: width 0.4s linear;
}

.navbar .wrapper .navbar-collapse .navbar-nav .nav-link.active::after {
  width: 100%;
}

.navbar .wrapper .navbar-collapse .navbar-nav .nav-link:last-child {
  margin-right: 0;
}
/*# sourceMappingURL=app.css.map */